/* catalog */

    .catalog-wrap{ padding-top: 30px; padding-bottom: 60px;
        .hidden-button-filter{  display: none; position: fixed; top: 80px; left: 0; background-color: #E71938;  padding: 16px 20px; border-radius:  0px 30px 30px 0px; overflow: hidden; z-index: 98; transition: all 0.3s;
            .con { width: 32px; height: 32px; 
                svg{ fill: #fff; }
            }
        }
        .partials-page{ display: flex; align-items: flex-start; justify-content: center; padding: 0 30px; }
        .form-filters{max-width: 290px; width: 100%; }
        .content-part-page{ width: calc(100% -  290px - 40px); max-width: 1320px; margin-left: 40px; }

        .menus-part{
            ul{ list-style: none; padding: 0; margin: 0;
                li{ padding: 14px 0; border-bottom: 1px solid #E5E5E5;
                    &:last-child{ border-bottom: none; }
                    a{font-family: 'Vremena'; letter-spacing: 0.03em; line-height: 1.2; font-size: 20px; color: #3E3E3E; text-decoration: none;}
                }
            }
            &>ul ul{padding: 0 0 0 20px; display: none;
                li{ padding: 8px 0; border: none;
                    a{ font-family: 'Roboto'; font-weight: 300; line-height: 1.3; font-size: 14px; color: #9E9E9E; text-decoration: none;}
                }
            }
            a{ margin-right: 15px; }
            .pluser{ width: 12px; height: 12px; margin-left: 10px;  position: relative; cursor: pointer; display: inline-block;
                &:before{ content: ''; position: absolute; width: 12px; height: 2px; top: calc(50% - 1px); left: 0; background-color: #E71938; transition: all 0.3s; }
                &:after{ content: ''; position: absolute; width: 2px; height: 12px; left: calc(50% - 1px); top: 0; background-color: #E71938; transition: all 0.3s; }
                &.active{
                    &:after{ transform: rotate(90deg); }
                    &:before{ transform: rotate(180deg); }
                }
            
            }
        }

        .group{ position: relative; padding-left: 30px; margin: 0 0 50px;
            .transformed{ position: absolute; left: 0; top: 0; transform: rotate(-90deg); width: 1px; height: 1px;
                span{position: absolute; right: 10px; display: block; font-family: 'Gilroy'; font-size: 12px; letter-spacing: 0.1em; text-transform: uppercase; color: #3E3E3E; font-weight: 800; white-space: nowrap; }
            }
            .row{padding: 10px 0;}
            label{position: relative; overflow: hidden; display: flex; align-items: center; justify-content: space-between; cursor: pointer;
                input{ position: absolute; opacity: 0; width: 0; height: 0; left: 0; top: 0; }
                .beautify{width: 12px; height: 12px; position: relative; overflow: hidden; 
                    &:after{ content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: transparent; border: 1px solid #D6D6D6; border-radius: 3px; transition: all 0.3s; transform: rotate(0); }
                    &:before{ content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(137.86deg, #E71938 4.32%, #C4037D 95.45%); border-radius: 3px; opacity: 0; }
                    span{ position: absolute; top: calc(50% - 4px); border-radius: 0; left: calc(50% - 4px); bottom: auto; right: auto; border-color: transparent; width: 9px; height: 5px; border-bottom: 2px solid #fff; border-left: 2px solid #fff; transform: rotate(-45deg); opacity: 1; }
                }
                .texter{width: calc(100% - 11px - 17px); font-weight: 300; line-height: 1.2; font-size: 14px; color: #9E9E9E;}
                input:checked ~ .beautify{
                    &:before{ opacity: 1; }
                    &:after{ opacity: 0;  }
                    span{ opacity: 1; }
                }
            }
            .inputers{ display: flex; align-items: center; justify-content: space-between; padding-top: 20px;
                .inputer{ display: flex; align-items: center; justify-content: space-between; max-width: 48%;}
                .text{font-family: 'Roboto'; line-height: 1.3; font-weight: 300; font-size: 14px; color: #9E9E9E; margin-right: 7px;}
                input{ width: 100%; padding: 13px; border: 1px solid #D6D6D6; height: 44px; font-weight: 300; border-radius: 30px; line-height: 1; font-size: 14px; color: #5C5C5C;}
            }
        }

        .specials{ padding-top: 60px;}
        #roller{ box-shadow: none; height: 12px; background: #F2F2F2; border-radius: 5px; border: none; }
        .noUi-horizontal .noUi-handle{ right: 0; }
        .noUi-horizontal .noUi-handle{ width: 16px; height: 16px; border-radius: 50%; top: -2px; box-shadow: none; border: none; background-color: #fff; box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
            &:before{ width: 6px; height: 6px; background: linear-gradient(132.71deg, #E71938 -4.33%, #C4037D 100%), #FFFFFF; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); border-radius: 50%; overflow: hidden; top: 50%; left: 50%; transform: translate(-50%, -50%); }
            &:after{display: none;}
        }
        .noUi-connect{top: 3px; height: auto; bottom: 3px; background: linear-gradient(90deg, #E71938 0%, #C4037D 100%);  border-radius: 5px;  }


        .catalog-items-part{ display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap; margin: 0 -10px;
            .item{width: 310px; max-width: 100%; margin:  10px; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05); }   
            .item{padding: 15px 15px 40px;; background-color: #fff;
                .con{ width: 100%; height: 240px; display: flex; align-items: flex-end; justify-content: center; }
                .text-part{ padding-top: 15px; text-align: center;}
                .type{ padding-bottom: 10px;
                    a{font-family: 'Roboto'; font-weight: 300; line-height: 1.2; font-size: 12px; letter-spacing: 0.02em; text-align: center; color: #636363; text-decoration: none;}
                }
                .name{ padding-bottom: 5px;
                    a{font-family: 'Vremena'; line-height: 1.2; font-size: 22px; text-align: center; color: #3E3E3E; text-decoration: none;}
                }
                .price{font-family: 'Roboto'; font-weight: 400; line-height: 15px; font-size: 14px; text-align: center;  color: #3E3E3E;}
                .after-butt{ padding-top: 15px;
                    a{ margin: 0 auto;}
                }
    
            }
        }
    }

    html:not([dir="rtl"]) .noUi-horizontal .noUi-handle{ right: -4px; }

    .content-part-page{
        .head-part{
            .title-part{
                h1{font-family: 'Vremena'; line-height: 1.25; font-size: 50px; color: #3E3E3E;}
            }  
            .after-text{ padding: 30px 0 0;
                p{ font-weight: 300; line-height: 1.3; font-size: 14px; color: #9E9E9E;}
            } 
        }
        .sorter-row, .after-all-row{ display: flex; align-items: center; justify-content: space-between; padding: 20px 0;}
        .sel{ display: flex; align-items: center; justify-content: flex-start;
            .texter{margin-right: 20px;  font-weight: 300;  line-height: 1.3; font-size: 14px; color: #9E9E9E;}
        }
        .select2{ width: auto !important; }
        .select2-container .select2-selection--single{ height: auto !important; }
        .select2-container--default .select2-selection--single .select2-selection__rendered{ padding: 12px 45px 12px 25px; font-family: 'Roboto';font-weight: 300; line-height: 1.3; font-size: 14px; color: #5C5C5C; }
        .select2-container--default .select2-selection--single{ border-radius: 30px; border: 1px solid #D6D6D6; }
        .select2-container--default .select2-selection--single .select2-selection__arrow{ height: auto; bottom: 0; width: 36px; }
    }
    .select2-search--dropdown{ display: none !important; }
    .select2-results__option{ padding: 10px 25px; font-weight: 300; line-height: 1.3; font-size: 14px; color: #5C5C5C;}
    .select2-dropdown{ border: 1px solid #D6D6D6; border-radius: 22px; overflow: hidden; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #E71938 transparent transparent transparent; }

/* catalog */

/* page-navi */

    .catalog-page .page-navi{
        ul{ display: flex; align-items: center; justify-content: flex-start;list-style: none; padding: 0; margin: 0;
            li{width: 44px; height: 44px; margin: 0 2px 0 0;}
        }
        a, span{display: block; border-radius: 50%; width: 100%; height: 44px; border: 2px solid transparent; text-align: center; line-height: 40px; text-decoration: none; font-family: 'Roboto'; font-weight: 300;  font-size: 14px; color: #5C5C5C; transition: all 0.3s; cursor: pointer;
            &:hover{ border-color: #e1e1e1;  }
        }
        .current{border-color: #E71938; color: #E71938;
            &:hover{ border-color: #E71938; }
        }
    }

    .news-page{
        .page-navi{ display: flex; align-items: center; justify-content: center;
            .next{ display: flex; align-items: center; justify-content: center; 
                a{font-family: 'Gilroy'; font-weight: 800; line-height: normal; font-size: 14px; letter-spacing: 0.02em; display: flex; align-items: center; justify-content: center; text-decoration: none; position: relative;
                    svg{ transform: translate(-10px); transition: all 0.3s; fill:#E71938; }
                    span{margin-right: 20px;  transition: all 0.3s; position: relative; color: #000000; letter-spacing: 0.05em;
                        &:before{ content: ''; position: absolute; bottom: -1px; height: 1px; left: 0; right: 100%; background-color: #E71938; transition: all 0.3s; }    
                    }
                    &:hover {
                        span{ opacity: 1; color: #E71938;
                            &:before{ right: 0; }
                        }
                        svg{ transform: translate(0px);}
                    }
                }
                &.disabled{pointer-events: none;
                    a { 
                        span{ color: #D6D6D6; 
                            &:before{ background-color: #D6D6D6;  }
                        }
                        svg{ fill: #D6D6D6; }
                    }
                }
            }
            .prew{display: flex; align-items: center; justify-content: center; 
                a{font-family: 'Gilroy'; font-weight: 800; line-height: normal; font-size: 14px; letter-spacing: 0.02em; display: flex; align-items: center; justify-content: center; text-decoration: none; position: relative;
                    svg{ transform: translate(10px); transition: all 0.3s; fill:#E71938; }
                    span{margin-left: 20px; letter-spacing: 0.05em;  transition: all 0.3s; position: relative; color: #000000;
                        &:before{ content: ''; position: absolute; bottom: -1px; height: 1px; left: 0; right: 100%; background-color: #E71938; transition: all 0.3s; }    
                    }
                    &:hover {
                        span{ opacity: 1; color: #E71938;
                            &:before{ right: 0; }
                        }
                        svg{ transform: translate(0px);}
                    }
                }
                &.disabled{ pointer-events: none;
                    a { 
                        span{ color: #D6D6D6; 
                            &:before{ background-color: #D6D6D6;  }
                        }
                        svg{ fill: #D6D6D6; }
                    }
                }
            }
            ul{ list-style: none; padding: 0; margin: 0 15px; display: flex; align-items: center; justify-content: center;
                li{width: 44px; height: 44px; margin: 0 2px 0 0;}
                a, span{display: block; border-radius: 50%; width: 100%; height: 44px; border: 2px solid transparent; text-align: center; line-height: 40px; text-decoration: none; font-family: 'Gilroy'; font-weight: 800; font-size: 14px; color: #5C5C5C; transition: all 0.3s; cursor: pointer;
                    &:hover{ border-color: #5C5C5C;   }
                }
                .current{border-color: #E71938; color: #E71938;
                    &:hover{ border-color: #E71938; }
                }
            }            
        }
    }

/* page-navi */

/* news-list-wrap */

    .news-list-wrap{ padding: 50px 0 80px;
        .news-conteiner{padding: 0 15px; max-width: 1260px; margin: 0 auto; }   
        .news-title{ padding-bottom: 30px;
            h1{ font-family: 'Vremena'; line-height: 1.2; font-size: 50px; text-align: center; color: #3E3E3E;}
            h2{ font-family: 'Vremena'; line-height: 1.3; font-size: 34px; text-align: center; color: #3E3E3E;}
            .breadcrums{ text-align: center; }
        }
        .news-content{ vertical-align: top; column-count: 2; text-align: justify; padding-bottom: 30px; 
            .item{ max-width: 570px; width: 100%; padding: 0 10px 20px; vertical-align: top; 
                .con{ display: block; width: 100%; 
                    img{ min-width: 100%; }
                }
            }
            .des{ padding: 25px; text-align: center; }
            .date{ font-family: 'Roboto'; font-weight: 300; line-height: 1.2; font-size: 12px;  color: #9E9E9E;}
            .name{ padding: 15px 0;
                a{ text-decoration: none; font-family: 'Vremena'; line-height: 1.3; font-size: 24px; text-align: center; color: #000000; }
            }
            .texter{
                p{ font-weight: 300;  line-height:1.3; font-size: 14px; text-align: center; color: #9E9E9E;}
            }
            .readmore{ display: flex; align-items: center; justify-content: center; padding-top: 30px;
                a{font-family: 'Gilroy'; font-weight: 800; line-height: normal; font-size: 14px; letter-spacing: 0.02em; display: flex; align-items: center; justify-content: center; text-decoration: none; position: relative;
                    svg{ transform: translate(-10px); transition: all 0.3s; }
                    span{margin-right: 20px;  transition: all 0.3s; position: relative; color: #000000;
                        &:before{ content: ''; position: absolute; bottom: -1px; height: 1px; left: 0; right: 100%; background-color: #E71938; transition: all 0.3s; }    
                    }
                    &:hover {
                        span{ opacity: 1; color: #E71938;
                            &:before{ right: 0; }
                        }
                        svg{ transform: translate(0px);}
                    }
                }
            }
        }
    }

/* news-list-wrap */

/* news-single-wrap */

    .news-single-wrap{ padding: 50px 0 80px;
        .news-conteiner{padding: 0 15px; max-width: 1240px; margin: 0 auto; }   
        .news-title{ padding-bottom: 30px;
            h1{ font-family: 'Vremena'; line-height: 1.2; font-size: 50px; text-align: center; color: #3E3E3E;}
            h2{ font-family: 'Vremena'; line-height: 1.3; font-size: 34px; text-align: center; color: #3E3E3E;}
            .breadcrums{ text-align: center; }
        }

        .texter{ 
            h2{max-width: 680px; margin: 0 auto; padding: 30px 0 15px; text-align: center; font-family: 'Vremena'; line-height: 1.3;  font-size: 34px; color: #3E3E3E; }
            ul{ max-width: 680px; margin: 0 auto; list-style: none; padding: 25px 0; 
                li{ font-family: 'Roboto'; font-weight: 300; letter-spacing: 0.02em; line-height: 1.3; font-size: 14px; color: #9E9E9E; position: relative; margin-bottom: 10px;  padding-left: 30px;
                    &:last-child{ margin-bottom: 0; }
                    &:before{ content: ''; left: 4px; top: 3px; position: absolute; width: 14px; height: 12px; background-image: url(../images/check.svg); }
                }
            }
            p{ max-width: 680px; margin: 0 auto; letter-spacing: 0.02em; font-family: 'Roboto';font-weight: 300; line-height: 1.4; font-size: 14px; color: #9E9E9E; padding: 10px 0; }
            .bunnered{ padding: 20px 0; display: flex; align-items: center; justify-content: space-around; }
        }

        .cont-part{ max-width: 680px; margin: 0 auto; padding: 30px 0;
            p{ font-family: 'Roboto'; font-weight: 300; letter-spacing: 0.02em; line-height: 1.2; font-size: 20px; color: #3E3E3E; margin-bottom: 20px;
                a{color: #E71938; text-decoration: none;}
                .tel{  color: #3E3E3E; }
            }
        }

        .disqus{ max-width: 680px; margin: 0 auto; }

        .share-row{ text-align: center; padding: 30px 0; }
        .pluso{ font-size: 1px !important; margin: 0 auto;
            .pluso-wrap{ font-size: 1px !important; }
            .pluso-more{ display: none !important; }
            .pluso-wrap >div{ margin-right: 10px; }
        }
    }

/* news-single-wrap */

/* single-page-wrap */

    .single-page-wrap{
        .towar-row{ display: flex; align-items: flex-start; justify-content: space-between; }
        .texter-part{width: 50%; padding-top: 120px; display: flex; align-items: center; justify-content: flex-end;
            .content{ max-width: 600px; width: 100%; padding: 0 15px; }
        }
        .photos-part{ width: 50%; padding-top: 120px; padding-bottom: 20px; background-color: #F2F2F2; align-self: stretch;  }

        .texter-part{
            h1{ font-family: 'Vremena'; line-height: 1.2; font-size: 50px; color: #3E3E3E;}
        }
        .infos{ padding: 30px 0;
            table{max-width: 460px;
                td{ padding: 5px; width: 50%;
                    &:nth-child(1){font-family: 'Roboto'; font-weight: 300; line-height: 1.3; font-size: 14px; color: #9E9E9E;}
                    &:nth-child(2){ font-family: 'Roboto'; font-weight: 400; line-height: 1.3; font-size: 14px; color: #3E3E3E;}
                }
                tr:last-child td{padding: 30px 5px 15px;}
            }
            .pricer{ display: flex; align-items: center; justify-content: center; padding: 15px 0; 
                .cena{
                    strong{font-family: 'Vremena'; font-weight: 400; line-height: 1.3; font-size: 40px; color: #E71938; margin-right: 7px;}
                    span{font-family: 'Roboto'; font-weight: 300; line-height: 1.3; font-size: 14px; color: #9E9E9E;}
                }
                .multiple{margin: 0 20px; position: relative; width: 14px; height: 14px; 
                    &:before{ content: ''; width: 20px; height: 1px; background-color: #D6D6D6; position: absolute; top: 50%; left: calc(50% - 20px/2); transform: rotate(45deg);}
                    &:after{ content: ''; width: 20px; height: 1px; background-color: #D6D6D6; position: absolute; top: 50%; left: calc(50% - 20px/2); transform: rotate(-45deg);}

                }
                .counter{
                    strong{ font-family: 'Vremena'; font-weight: 400; line-height: 1.3; font-size: 40px;  margin-right: 7px; color: #3E3E3E;}
                    span{font-family: 'Roboto'; font-weight: 300; line-height: 1.3; font-size: 14px; color: #9E9E9E;}
                }
            
            }
            .socials{ 
                ul{ list-style: none; padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-start;
                    li{margin-right: 50px;
                        &:last-child{margin: 0;}
                    }
                }
                a i{line-height: 11px; font-size: 14px; text-align: center; display: inline-block; color: #5C5C5C; transition: all 0.3;}
                a:hover i{ color: #C4037D; }
            } 
        }
        .slider-for{ max-width: 560px; margin: 0 auto; 
            .con{ width: 100%; height: 560px; max-height: 80vh; text-align: center;
                img{ max-width: 100%; max-height: 100%; display: inline-block; }
            }
        }
        .slider-nav{ max-width: 225px; margin: 0 auto;
            .slick-list{ padding: 0 !important; }
            .item{ padding: 5px;
                .con{ width: 65px; height: 65px; text-align: center; background-color: #fff; }
            }
            .slick-arrow{ width: 30px; height: 30px; background: transparent; font-size: 1px; z-index: 5;
                &:before{ display: none; }
                &:after{ content: ''; position: absolute; top: calc(50% - 5px);   width: 10px; height: 10px; border-top: 2px solid #3E3E3E; border-left: 2px solid #3E3E3E; }
                &.slick-prev{ left: -50px; 
                    &:after{ transform: rotate(-45deg); left: calc(50% - 4px); }
                }
                &.slick-next{ right: -50px; 
                    &:after{ transform: rotate(135deg); right:calc(50% - 4px);}
                }
            }
        }
    }

/* single-page-wrap */

/* single-page-tabs */ 

    .single-page-tabs{ padding: 50px 0;
        .conteiner-tabs{max-width: 1110px; padding: 0 15px; margin: 0 auto;}
        .navigate{ padding: 25px 0;
            ul{ list-style: none; padding: 0; margin: 0 auto; display: flex; align-items: center; justify-content: center;
                li{margin: 0 25px;}
            }
            a{ font-family: 'Gilroy'; font-weight: 800; text-decoration: none; line-height: 1.3; font-size: 12px; letter-spacing: 0.1em; text-transform: uppercase; color: #3E3E3E; transition: all 0.3s;  position: relative;
                &:before{ content: ''; position: absolute; bottom: -1px; height: 1px; left: 0; right: 100%; background-color: #E71938; transition: all 0.3s; }    
                &:hover{ color: #E71938; 
                    &:before{ right: 0; }
                }
                &.active{
                    &:before{ right: 0; }
                }
            }
        }
        .content{ position: relative; 
            &>ul{ list-style: none; padding:25px 0; margin: 0;
                &>li{ display: none; 
                    &.active{ display: block; }
                }
            }
        }
        .text-part{
            .texter{ text-align: center;
                h2{ font-family: 'Vremena';  line-height: 1.3; font-size: 34px; color: #3E3E3E; margin-bottom: 15px;}
                h3{ font-family: 'Roboto'; font-weight: 300; line-height: 1.2; font-size: 20px; color: #3E3E3E; padding: 10px 0;}
                p{font-family: 'Roboto'; font-weight: 300; letter-spacing: 0.02em; line-height: 1.3; font-size: 14px; color: #9E9E9E; margin-bottom: 15px;}
                ul{ list-style: none; padding: 10px 0; margin: 0;
                    li{ font-family: 'Roboto'; font-weight: 400; letter-spacing: 0.02em; line-height: 1.3; font-size: 14px; color: #9E9E9E; position: relative; margin-bottom: 10px;  padding-left: 30px;
                        &:before{ content: ''; left: 4px; top: 3px; position: absolute; width: 14px; height: 12px; background-image: url(../images/check.svg); }
                    }
                }
            }
        }
        .convert-rew{
            .title-rew{ text-align: center;
                h2{ font-family: 'Vremena';  line-height: 1.3; font-size: 34px; color: #3E3E3E; margin-bottom: 15px;}
            }
            .counter-rew{}
            .rew-item{ display: flex; align-items: flex-start; justify-content: space-between; padding: 25px 0; border-bottom: 1px solid #E5E5E5;
                .left{ width: 140px; }
                .right{ width: calc(100% - 200px); }
                .name{font-weight: normal; line-height: 1.3; font-size: 14px; color: #3E3E3E; padding-bottom: 5px;}
                .date{ font-weight: 300; line-height: 1.3; font-size: 12px; color: #A19D9A;}
                .stars{ padding: 10px 0; display: flex;
                    &.blocked{ pointer-events: none; }
                    ul{ list-style: none; padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-start;
                        li{ color: #E71938; transition: all 0.3s; font-size: 12px;margin-right: 2px; cursor: pointer;
                            &.active ~ li { color: #F2F2F2; }                   
                        }
                        &:hover{
                            li{ color: orange;
                                &.active ~ li { color: orange; }   
                                &:hover{ color: orange; }
                                &:hover ~ li { color: #F2F2F2; }     
                            }
                        }
                    }
                }
                blockquote{ position: relative;
                    &:before{ content:  open-quote ; font-family: 'Vremena'; color: #E71938; font-size: 60px; position: absolute; top: 20px; left: -10px; transform: translateX(-100%); font-style: normal; line-height: 1px;}
                    &:after{ content:  close-quote ; opacity: 0; font-size: 0; }
                    p{font-family: 'Vremena'; line-height: 1.3; font-style: italic; font-weight: 300; font-size: 18px; color: #3E3E3E; margin-bottom: 15px; letter-spacing: 0.05em;
                        &:last-child{ margin: 0; }
                    }
                }
            }
        }
        .form-rew{max-width: 720px; margin: 0 auto; padding: 50px 0;
            .title-part{ text-align: center; padding-bottom: 30px;
                h2{ font-family: 'Vremena';  line-height: 1.3; font-size: 34px; color: #3E3E3E; margin-bottom: 15px;}
                p{ font-weight: 300; line-height: 1.3; font-size: 14px; color: #9E9E9E;}
            }
            .rower{display: flex; align-items: flex-start; justify-content: space-between; padding-bottom: 15px; }
            .labled{ width: 160px; padding-top: 17px; font-family: 'Roboto'; font-weight: 300; line-height: 1.2; font-size: 14px; letter-spacing: 0.02em; color: #9E9E9E;}
            .inputer{ width: calc(100% - 160px);
                textarea, input{  font-family: 'Vremena'; height: 50px; width: 100%; border: none; border-bottom: 1px solid #E5E5E5; line-height: 1.3;  font-size: 18px; color: #5C5C5C; font-style: italic; letter-spacing: 0.03em; transition: all 0.3s;
                    &::-webkit-input-placeholder {color: #9E9E9E; }
                    &:-moz-placeholder {color: #9E9E9E; opacity:1;}
                    &::-moz-placeholder {color: #9E9E9E; opacity:1;}
                    &:-ms-input-placeholder {color: #9E9E9E; }
                    &.error{ border-color: #C4037D; }
                }
                textarea{resize: none; height: 120px;padding: 15px 0;}
            }
            .submiter{ text-align: center; padding-top: 30px;
                button{ background-color: transparent; border: none; }
            }
        }
    }

/* single-page-tabs */

/* cart */

    body{ position: relative; 
        &:before{ content: ''; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background-color: rgba(0, 0, 0, 0.5); z-index: 95; opacity: 0; transition: all 0.3s; pointer-events: none;}
        &.transparenter{ width: 100vw; height: 100vh; overflow: hidden;
            &:before{ opacity: 1; }
        }
    }

    .cart-visible{ position: fixed; top: 80px; right: 0; background-color: #E71938;; padding: 16px 20px; border-radius: 30px 0px 0px 30px; overflow: hidden; z-index: 98; transition: all 0.3s;
        .con{ width: 32px; height: 32px;
            svg{ width: 100%; }
        }
        &.active{ right: calc(100vw/3); z-index: 100; }
    }

    .cart-hidden{ position: fixed; z-index: 97; top: 0; bottom: 0; right:  calc( -100vw/3); width: calc(100vw/3); background-color: #fff; padding: 50px; transition: all 0.3s; display: flex; align-items: center;
        &.active{ right: 0; }
        .closer{ width: 18px; height: 18px;  position: absolute; top: 25px; right: 25px; cursor: pointer;
            &:before{ content: ''; position: absolute; width: 23px; height: 2px; background-color: #9E9E9E; top: calc(50% - 1px); transform: rotate(45deg); }
            &:after{ content: ''; position: absolute; width: 23px; height: 2px; background-color: #9E9E9E; top: calc(50% - 1px); transform: rotate(-45deg); }
        }
        .conteiner{max-width: 340px; margin: 0 auto; width: 100%;
            .title{ font-family: 'Vremena'; line-height: 1.2; font-size: 34px;  color: #3E3E3E; padding-bottom: 10px;}
        }

        .last-sum{ display: flex; align-items: flex-end; justify-content: space-between; padding: 30px 0;
            .summ-name{ width: 70px; text-align: right;  font-weight: 300; line-height: 1; font-size: 12px; text-align: right; color: #A19D9A; }   
            .summ-count{ width: calc(100% - 80px); font-weight: bold; line-height: 1; font-size: 20px; color: #3E3E3E;  }
        }
        .links{
            .button{ padding-bottom: 20px; text-align: center; }
            .butt{ width: 100%; max-width: 310px; margin: 0 auto; }
            .next-bye{
                a{font-family: 'Gilroy'; font-weight: 800; line-height: normal; font-size: 14px; letter-spacing: 0.02em; display: flex; align-items: center; justify-content: center; text-decoration: none; position: relative;
                    svg{ transform: translate(10px); transition: all 0.3s; fill:#E71938; }
                    span{margin-left: 20px; letter-spacing: 0.05em;  transition: all 0.3s; position: relative; color: #000000;
                        &:before{ content: ''; position: absolute; bottom: -1px; height: 1px; left: 0; right: 100%; background-color: #E71938; transition: all 0.3s; }    
                    }
                    &:hover {
                        span{ opacity: 1; color: #E71938;
                            &:before{ right: 0; }
                        }
                        svg{ transform: translate(0px);}
                    }
                }
            }
        }

        .list-cart{ 
            ul{ list-style: none; padding: 0; margin: 0;  width: 100%; height: calc(112px * 3); overflow: auto;
                li{ border-bottom: 1px solid #E5E5E5; 
                    &:last-child{ /* border: none; */ }
                    &.empty{ border: none; display: none;}
                }
            }
            .empty{
                .content{ padding: 20px 0; text-align: center;}
                p{font-family: 'Vremena'; line-height: 1.3; font-size: 18px; color: #3E3E3E;}
            }
            .contein-item{ display: flex; align-items: center; justify-content: space-between; padding: 20px 0; position: relative;
                .deleter{ width: 10px; height: 10px; position: absolute; top: 8px; right: 5px; cursor: pointer;
                    &:before{ content: ''; transform: rotate(45deg); width: 14px; height: 2px; border-radius: 2px; background-color: #E71938; position: absolute; top: calc(50% - 1px); }
                    &:after{ content: ''; transform: rotate(-45deg); width: 14px; height: 2px; border-radius: 2px; background-color: #E71938; position: absolute; top: calc(50% - 1px); }
                }
            }
            .con{width: 70px; height: 70px; display: flex; align-items: center; justify-content: center; 
                img{ max-height: 100%; }
            }

            .info-part{width: calc(100% - 80px);               
                .named{ padding-bottom: 10px;
                    a{font-family: 'Vremena'; line-height: 1.3; font-size: 18px; color: #3E3E3E; text-decoration: none;}
                }

                .end-row{ display: flex; align-items: center; justify-content: space-between;
                    .price{ width: 80px; font-weight: bold; line-height: 1.2; font-size: 14px; color: #3E3E3E; }
                }

                .counter{ width: calc(100% - 80px); display: flex; align-items: center; justify-content: flex-start;
                    .count-minuso{ width: 12px; height: 12px;  position: relative; cursor: pointer;
                        &:before{ content: ''; position: absolute; width: 12px; height: 2px; background-color: #E71938; top: calc(50% - 1px); left: 0; }
                    }
                    .counter-pluso{ width: 12px; height: 12px;  position: relative; cursor: pointer;
                        &:before{ content: ''; position: absolute; width: 12px; height: 2px; background-color: #E71938; top: calc(50% - 1px); left: 0; }
                        &:after{ content: ''; position: absolute; width: 2px; height: 12px; background-color: #E71938; left: calc(50% - 1px); top: 0; }
                    }
                    .count-num{line-height: 1.2; font-size: 14px; font-weight: 400; color: #3E3E3E; margin: 0 12px;}
                }

                
            }
        }
    }

    .nicescroll-rails{ background-color: #E5E5E5; border-radius: 3px; opacity: 1 !important; transform: translateX(20px); }

/* cart */

/* corzin-inside-wrap */

    .added-towar-cart{ width: calc(100vw/3); background-color: #fff; padding: 50px; transition: all 0.3s; display: flex; align-items: center;
        &.active{ right: 0; }
        .closer{ width: 18px; height: 18px;  position: absolute; top: 25px; right: 25px; cursor: pointer;
            &:before{ content: ''; position: absolute; width: 23px; height: 2px; background-color: #9E9E9E; top: calc(50% - 1px); transform: rotate(45deg); }
            &:after{ content: ''; position: absolute; width: 23px; height: 2px; background-color: #9E9E9E; top: calc(50% - 1px); transform: rotate(-45deg); }
        }
        .conteiner{max-width: 340px; margin: 0 auto; width: 100%;
            .title{ font-family: 'Vremena'; line-height: 1.2; font-size: 34px;  color: #3E3E3E; padding-bottom: 10px;}
        }

        .last-sum{ display: flex; align-items: flex-end;  justify-content: space-between; padding: 30px 0;
            .summ-name{ width: 70px; text-align: right;  font-weight: 300; line-height: 1; font-size: 12px; text-align: right; color: #A19D9A; }   
            .summ-count{ width: calc(100% - 80px); font-weight: bold; line-height: 1; font-size: 20px; color: #3E3E3E;  }
        }
        .links{
            .button{ padding-bottom: 20px; text-align: center; }
            .butt{ width: 100%; max-width: 310px; margin: 0 auto; }
            .next-bye{
                a{font-family: 'Gilroy'; font-weight: 800; line-height: normal; font-size: 14px; letter-spacing: 0.02em; display: flex; align-items: center; justify-content: center; text-decoration: none; position: relative;
                    svg{ transform: translate(10px); transition: all 0.3s; fill:#E71938; }
                    span{margin-left: 20px; letter-spacing: 0.05em;  transition: all 0.3s; position: relative; color: #000000;
                        &:before{ content: ''; position: absolute; bottom: -1px; height: 1px; left: 0; right: 100%; background-color: #E71938; transition: all 0.3s; }    
                    }
                    &:hover {
                        span{ opacity: 1; color: #E71938;
                            &:before{ right: 0; }
                        }
                        svg{ transform: translate(0px);}
                    }
                }
            }
        }

        .list-cart{ 
            ul{ list-style: none; padding: 0; margin: 0;  width: 100%; height: calc(112px * 3); overflow: auto;
                li{ border-bottom: 1px solid #E5E5E5; 
                    &:last-child{ /* border: none; */ }
                    &.empty{ border: none; display: none;}
                }
            }
            .empty{
                .content{ padding: 20px 0; text-align: center;}
                p{font-family: 'Vremena'; line-height: 1.3; font-size: 18px; color: #3E3E3E;}
            }
            .contein-item{ display: flex; align-items: center; justify-content: space-between; padding: 20px 0; position: relative;
                .deleter{ width: 10px; height: 10px; position: absolute; top: 8px; right: 5px; cursor: pointer;
                    &:before{ content: ''; transform: rotate(45deg); width: 14px; height: 2px; border-radius: 2px; background-color: #E71938; position: absolute; top: calc(50% - 1px); }
                    &:after{ content: ''; transform: rotate(-45deg); width: 14px; height: 2px; border-radius: 2px; background-color: #E71938; position: absolute; top: calc(50% - 1px); }
                }
            }
            .con{width: 70px; height: 70px; display: flex; align-items: center; justify-content: center; 
                img{ max-height: 100%; }
            }

            .info-part{width: calc(100% - 80px);               
                .named{ padding-bottom: 10px;
                    a{font-family: 'Vremena'; line-height: 1.3; font-size: 18px; color: #3E3E3E; text-decoration: none;}
                }

                .end-row{ display: flex; align-items: center; justify-content: space-between;
                    .price{ width: 80px; font-weight: bold; line-height: 1.2; font-size: 14px; color: #3E3E3E; }
                }

                .counter{ width: calc(100% - 80px); display: flex; align-items: center; justify-content: flex-start;
                    .count-minuso{ width: 12px; height: 12px;  position: relative; cursor: pointer;
                        &:before{ content: ''; position: absolute; width: 12px; height: 2px; background-color: #E71938; top: calc(50% - 1px); left: 0; }
                    }
                    .counter-pluso{ width: 12px; height: 12px;  position: relative; cursor: pointer;
                        &:before{ content: ''; position: absolute; width: 12px; height: 2px; background-color: #E71938; top: calc(50% - 1px); left: 0; }
                        &:after{ content: ''; position: absolute; width: 2px; height: 12px; background-color: #E71938; left: calc(50% - 1px); top: 0; }
                    }
                    .count-num{line-height: 1.2; font-size: 14px; font-weight: 400; color: #3E3E3E; margin: 0 12px;}
                }

                
            }
        }
    }

    .corzin-inside-wrap{
        .content-siders{ display: flex; align-items: stretch; justify-content: space-between; }
        .infopart{ width: calc(100% - 490px);  padding: 170px 40px 40px; 
            .convert-parter{max-width: 840px; margin: 0 auto; }
        }
        .added-towar-cart{ width: 490px; background-color: #F2F2F2; padding: 170px 0 40px; min-height: 100vh; } 
        .title-part{ padding-bottom: 30px;
            h1{ font-family: 'Vremena'; line-height: 1.2; font-size: 50px; color: #3E3E3E; }
        }  
        .form-part{
            .bot-part{ padding-top: 20px; }
            .top-part, .bot-part{ display: flex; align-items: center; justify-content: space-between; }
            .col{width: calc(50% - 10px); }
            .rower{display: flex; align-items: flex-start; justify-content: space-between; padding-bottom: 15px; }
            .labled{ width: 130px; padding-top: 17px; font-family: 'Roboto'; font-weight: 300; line-height: 1.2; font-size: 14px; letter-spacing: 0.02em; color: #9E9E9E;}
            .inputer{ width: calc(100% - 135px);
                textarea, input{  font-family: 'Vremena'; height: 50px; width: 100%; border: none; border-bottom: 1px solid #E5E5E5; line-height: 1.3;  font-size: 18px; color: #5C5C5C; font-style: italic; letter-spacing: 0.03em; transition: all 0.3s;
                    &::-webkit-input-placeholder {color: #9E9E9E; }
                    &:-moz-placeholder {color: #9E9E9E; opacity:1;}
                    &::-moz-placeholder {color: #9E9E9E; opacity:1;}
                    &:-ms-input-placeholder {color: #9E9E9E; }
                    &.error{ border-color: #C4037D; }
                }
                textarea{resize: none; height: 120px;padding: 15px 0;}
            }
            .select2{ width: 100% !important; }
            .select2-container--default .select2-selection--single{ border: none; height: auto; border-bottom: 1px solid #E5E5E5; border-radius: 0;  }
            .select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 1.3; font-size: 18px; font-family: 'Vremena';  color: #5C5C5C; padding: 13px 25px 13px 5px; font-style: italic; }
            .select2-container--default .select2-selection--single .select2-selection__arrow{ top: calc(50% - 14px);} 
        }
        .submiter-part{ padding: 25px 0;
            .to-end{ display: flex; align-items: center; justify-content: flex-end;  }
            .summ{ padding-right: 50px; }
            .butt{ display: block; max-width: none; background-color: transparent; border: none; padding: 16px 25px; }
            .topper{ font-weight: 300; line-height: 1.2; font-size: 12px; color: #A19D9A;}
            .full-sum{font-weight: bold; line-height: 1.2; font-size: 20px; text-align: right; color: #3E3E3E; padding-top: 5px;}
        }
    }

    .page-cart{ 
        .select2-dropdown{ border-radius: 0;  border: 1px solid #E5E5E5;  }
        .select2-results__option{ padding: 5px; font-family: 'Vremena';  color: #5C5C5C; letter-spacing: 0.05em; font-style: italic; }
    }



/* corzin-inside-wrap */