@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1700px){

    .catalog-wrap .content-part-page { margin-left: 20px; max-width: 100%; }
    .catalog-wrap .catalog-items-part .item { width: calc(100%/4 - 20px); padding: 15px 15px 30px; }

}
@media screen and (max-width: 1560px){

    .catalog-wrap .catalog-items-part .item { width: calc(100%/3 - 20px); padding: 15px 15px 30px; }
    .catalog-wrap .partials-page { padding: 0 15px; }

    header .contein{ padding: 15px 15px 0; }

}
@media screen and (max-width: 1366px){

   

    .catalog-wrap .catalog-items-part .item{ margin: 5px ; }
    .catalog-wrap .catalog-items-part .item { width: calc(100%/3 - 10px); padding: 10px 10px 25px; }
    .content-part-page .head-part .title-part h1{ font-size: 38px; }
    .content-part-page .head-part .after-text {  padding: 15px 0 0; }

    .cart-hidden{ width: 420px; right: -540px; padding: 50px 25px; }
    .cart-visible.active{ right: 420px; }
    .cart-hidden .conteiner{ max-width: none; }

    .nicescroll-rails{ transform: translateX(10px);}
    .cart-hidden .list-cart{ padding-right: 10px;}


    .single-page-wrap .texter-part h1{ font-size: 38px; }
    .single-page-wrap .infos{ padding: 20px 0; }

    .corzin-inside-wrap .content-siders{ flex-wrap: wrap; 
        .infopart{ width: 100%; order: 2; }
        .added-towar-cart{ width: 100%; height: auto; order: 1; min-height: 0; padding: 80px 15px 25px; }
    }
    
    .added-towar-cart .list-cart ul{ height: auto; display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;
        li{ width: calc(50% - 25px); }
    }
    .added-towar-cart .conteiner{ max-width: 720px; } 
    .corzin-inside-wrap .content-siders .infopart{ padding: 30px 15px; }
    .corzin-inside-wrap .title-part h1{ text-align: center; }
    
}

@media screen and (max-width: 1170px){

    .catalog-wrap .catalog-items-part .item{ width: calc(100%/2 - 10px); padding: 10px 10px 25px; }

}
@media screen and (max-width: 992px){

    .content-part-page .head-part .title-part h1{ text-align: center; }
    .breadcrums { padding: 5px 0; }

    .catalog-wrap .partials-page{ position: relative; overflow: hidden; }
    .catalog-wrap .form-filters{ position: fixed; top: 0; left: 0; bottom: 0; overflow-y: auto; transform: translateX(-100%); z-index: 99;  background-color: #fff; max-width: 260px; padding: 10px; transition: all 0.3s;
        &.active{ transform: translateX(0);  }
    }

    .single-page-wrap .towar-row{ display: flex; flex-wrap: wrap; }
    .single-page-wrap .texter-part{ width: 100%; order: 2; padding-top: 30px; }
    .single-page-wrap .photos-part{ width: 100%; order: 1; padding-top: 70px; }
    .single-page-wrap .slider-for .con{ height: 320px; }
    .single-page-wrap .texter-part .content{ max-width: 100%; }
    .single-page-wrap .texter-part {
        h1{ text-align: center; font-size: 28px; }
        .breadcrums{  display: none; }
    }
    .single-page-wrap .infos table{ margin: 0 auto; }

    

    .catalog-wrap .hidden-button-filter{ display: block; 
        &.active{ left: 260px; top: 0; z-index: 100; pointer-events: auto !important;}
    }
    body.transparenter .catalog-wrap .hidden-button-filter{ pointer-events: none;  }

    body.transparenter .cart-visible{ pointer-events: none;  
        &.active{pointer-events: auto !important; top: 0;}
    }


    .catalog-wrap .content-part-page{ margin: 0; width: 100%; }
    .catalog-wrap .catalog-items-part { justify-content: space-around;
        .item{    width: calc(100%/3 - 10px);}
    }
    .catalog-wrap .catalog-items-part .item .name a{ font-size: 18px; }
    .catalog-wrap .catalog-items-part .item .con{ height: 200px; 
        img{ max-height: 90%; }
    }

    .catalog-wrap .menus-part ul li { padding: 10px 0;
        a{ margin: 0; }
    }
    .catalog-wrap .specials { padding-top: 25px; }

    .cart-hidden{ display: block; top: 0; bottom: 0; overflow-y: auto;  }
    .single-page-tabs{ padding: 25px 0; }
    .single-page-tabs .navigate{ padding: 0px; }

    .single-page-tabs .convert-rew .rew-item{ padding: 15px 0 5px;; display: block; }
    .single-page-tabs .convert-rew .rew-item .left{ width: 100%; text-align: center; }
    .single-page-tabs .convert-rew .rew-item .stars{ justify-content: center; }
    .single-page-tabs .convert-rew .rew-item .right{ width: 100%; padding-left: 20px; }
    .single-page-tabs .convert-rew .rew-item blockquote:before{ font-size: 36px; top: 10px; }
    .single-page-tabs .convert-rew .rew-item blockquote p{ font-size: 16px; }

    .news-list-wrap .news-title h1{ font-size: 38px; }
    .news-list-wrap .news-title h2{ font-size: 24px; }
    .news-list-wrap .news-title { padding-bottom: 20px; }
    .news-list-wrap .news-content .des{ padding: 15px; }
    .news-list-wrap .news-content .name{ padding: 10px 0; }
    .news-list-wrap .news-content .name a{ font-size: 18px; }
    .news-list-wrap .news-content .texter p{ font-size: 12px; }
    .news-list-wrap .news-content .readmore a{ font-size: 12px; }
    .news-list-wrap .news-content .readmore{ padding-top: 10px; }

    .news-list-wrap{ padding: 20px 0; }


    .news-single-wrap .news-title .breadcrums{ display: none; }
    .news-single-wrap{ padding: 15px 0 20px; }
    .news-single-wrap .news-title h1{ font-size: 38px; }
    .news-single-wrap .news-title{ padding-bottom: 0; }
    .news-single-wrap .texter h2{ padding: 10px 0; font-size: 28px; }
    .news-single-wrap .texter ul{ padding: 10px 0;}
    .news-single-wrap .texter ul li{ margin-bottom: 5px; }
    .news-single-wrap .texter .bunnered{ display: block; text-align: center; padding: 10px 0; }
    .news-single-wrap .cont-part p{ font-size: 16px; margin-bottom: 10px; }

    .corzin-inside-wrap .title-part h1{ font-size: 38px; }
    .corzin-inside-wrap .form-part .top-part, .corzin-inside-wrap .form-part .bot-part{ display: block; }
    .corzin-inside-wrap .form-part .col{ width: 100%; }

    .corzin-inside-wrap .infopart .convert-parter{ max-width: 640px; }

    .school-perevagi-wrap .title-part h2{ font-size: 38px; line-height: 1.2; }


    .school-fackt-wrap{ padding: 50px 0; }
    .school-fackt-wrap .title h2, .school-rew-wrap .title h2{ font-size: 30px; }

    .school-fackt-wrap .list-counters{ padding-top: 20px; flex-wrap: wrap; justify-content: space-around; }
    .school-fackt-wrap .list-counters .con{ font-size: 60px; }

    .school-rew-wrap{ padding: 40px 0; }
  
}
@media screen and (max-width: 767px){

    .catalog-wrap .catalog-items-part { justify-content: space-around;
        .item{    width: 280px;}
    }
    .content-part-page .head-part .after-text{ padding: 0; }

    .content-part-page .sorter-row, .content-part-page .after-all-row{ padding: 10px 0; flex-wrap: wrap; justify-content: center; }
    .content-part-page .sel:nth-child(2){ display: none; }

    .catalog-wrap{ padding-bottom: 30px; }

    .catalog-wrap .hidden-button-filter{  padding: 10px 15px 10px 10px;
        .con{width: 24px; height: 24px; }
    }

    .cart-visible { padding: 10px 10px 10px 15px;
        .con{ width: 24px; height: 24px; 
            svg{ width: 100%; height: auto; }
        }
    }

    .cart-hidden{ width: 260px; padding: 25px 15px;
        .closer{ display: none; }
    }
    .cart-visible.active{ right: 260px; }
    .cart-hidden .conteiner .title{ text-align: center; font-size: 26px; }
    .cart-hidden .list-cart{ padding: 0; }
    .cart-hidden .list-cart .contein-item{ padding: 20px 0 10px; }
    .cart-hidden .list-cart .info-part .named a{ font-size: 16px; text-align: center; }
    .cart-hidden .list-cart .info-part .named{ text-align: center; }
    .cart-hidden .list-cart .info-part .end-row{ display: block; }
    .cart-hidden .list-cart .info-part .end-row .price{ width: 100%; text-align: center; padding-bottom: 10px; }
    .cart-hidden .list-cart .info-part .counter{ width: 100%; justify-content: center; }
    .cart-hidden .list-cart ul{ height: auto; }
    .cart-hidden .list-cart .con { width: 60px; height: 60px; }
    .cart-hidden .list-cart .info-part{ width: calc(100% - 65px); }
    
    .single-page-wrap .slider-for .con{ height: 260px; }


    .single-page-wrap .texter-part h1{ font-size: 26px; }
    .single-page-wrap .infos table{ max-width: 100%; 
        .butt3{ min-width: 0; width: 100%;  }
        .butt{ min-width: 0; width: 100%;  }
    }

    .single-page-wrap .infos .socials ul li{ margin-right: 20px; }
    .single-page-wrap .infos table td:nth-child(1), .single-page-wrap .infos table td:nth-child(2){ padding: 2px; font-size: 13px;  }

    .single-page-tabs .navigate ul li { margin: 0px 12px; }
    .single-page-tabs .text-part .texter h2, .single-page-tabs .convert-rew .title-rew h2, .single-page-tabs .form-rew .title-part h2{ font-size: 22px; margin-bottom: 10px; } 
    .single-page-tabs .text-part .texter p{ font-size: 13px; font-weight: 300; }
    .single-page-tabs .content > ul{ padding-bottom: 0; }

    .single-page-tabs .form-rew .rower{ display: block;  }
    .single-page-tabs .form-rew .labled{ width: 100%; padding: 0; text-align: start; }

    .single-page-tabs .form-rew .inputer { width: 100%; 
        textarea, input{ font-size: 16px; }
        input{ height: 40px; }
        textarea{ height: 100px; }
    }
    .single-page-tabs .form-rew .submiter{ padding-top: 0px; }
    .single-page-tabs .form-rew{ padding: 20px 0 0; }

    .news-list-wrap .news-content{ column-count: 1; }
    .news-list-wrap .news-content .item{ padding: 0 0 15px; }
    .news-list-wrap .news-title h1 { font-size: 32px; }
    .news-list-wrap .news-title .breadcrums{ display: none; }
    .news-list-wrap .news-title h2 {font-size: 18px; }
    .news-list-wrap .news-content{ padding-bottom: 0; }
    .news-list-wrap .news-content .item{ margin: 0 auto; }
    .news-page .page-navi {
        .prew{ display: none;}
        .next{ display: none; }
    }

    .news-single-wrap .news-title h1 { font-size: 28px; }
    .news-single-wrap .texter h2{ font-size: 20px; }
    .news-single-wrap .cont-part{ padding: 10px 0; }


    .added-towar-cart .list-cart ul li{ width: 100%; }

    .corzin-inside-wrap .form-part .rower{ padding-bottom: 5px; display: block; }
    .corzin-inside-wrap .form-part .labled{ width: 100%; padding: 10px 0 0; }
    .corzin-inside-wrap .title-part h1 { font-size: 28px; }
    .corzin-inside-wrap .form-part .inputer{width: 100%; 
        textarea, input{ font-size: 16px; }
        input{ height: 40px; }
        textarea{ height: 100px; }
    }

    .corzin-inside-wrap .submiter-part .to-end{ display: block;  }
    .corzin-inside-wrap .submiter-part .summ{ padding: 0 0 15px; display: flex; align-items: center; justify-content: center; 
        .topper{ padding-right: 15px; }
    }

    .school-perevagi-wrap .title-part h2{ font-size: 28px; }

    .school-fackt-wrap .list-counters .item{ padding: 15px; }
    .school-fackt-wrap .title h2 , .school-rew-wrap .title h2{ font-size: 24px; }
    .school-fackt-wrap .list-counters .con { font-size: 44px; }
    .school-gallary-block a{ width: calc(100%/2 - 2px);  min-height: 160px; height: 160px; }

    .school-rew-wrap .conteiner-slider{ 
        .list-items{ margin: 0; }
    }
    .school-rew-wrap .slick-arrow{ bottom: 0; top: auto; transform: none; }
    .school-rew-wrap .item{ padding: 30px; }
    .school-rew-wrap .texter blockquote:before{ font-size: 60px; left: 0;  top: 10px; }
    .school-rew-wrap .texter blockquote:after{ font-size: 60px; right: 0; }
    .school-rew-wrap .texter blockquote{ font-size: 16px; }
    .school-rew-wrap .texter { padding-bottom: 15px; }

}
@media screen and (max-width: 666px){

    .butt3 {
        font-size: 12px;
        padding: 9px 15px;
    }

    .content-part-page .sel{ display: block; }
    .content-part-page .sel .texter{ margin: 0 0 5px; text-align: center; color: #3e3e3e; }
    .content-part-page .select2-container--default .select2-selection--single .select2-selection__rendered { padding: 8px 45px 7px 25px; }

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}