<div class="about-specialist-wrpap">
    <div class="contein">
        <div class="title-part">
            <h2> Наші професійни спеціалісти </h2>
            <p>Стилісти-перукарі салону краси “Dias” починають роботу з аналізу структури волосся, його загального стану <br /> здоров’я, визначення кольоротипу, форми обличчя і навіть особливостей фігури.</p>
        </div>
        <div class="catalog-part">
            <div class="list-items">
                <div class="item">
                    <div class="contein">
                        <div class="con">
                            <img src="images/specialist1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <div class="name"> Анна Ломоносова </div>
                            <div class="status"> Менеджер </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="con">
                            <img src="images/specialist1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <div class="name"> Анна Ломоносова </div>
                            <div class="status"> Менеджер </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="con">
                            <img src="images/specialist1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <div class="name"> Анна Ломоносова </div>
                            <div class="status"> Менеджер </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="con">
                            <img src="images/specialist1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <div class="name"> Анна Ломоносова </div>
                            <div class="status"> Менеджер </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="con">
                            <img src="images/specialist1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <div class="name"> Анна Ломоносова </div>
                            <div class="status"> Менеджер </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="con">
                            <img src="images/specialist1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <div class="name"> Анна Ломоносова </div>
                            <div class="status"> Менеджер </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <div class="con">
                            <img src="images/specialist1.jpg" alt="">
                        </div>
                        <div class="text-part">
                            <div class="name"> Анна Ломоносова </div>
                            <div class="status"> Менеджер </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>