<div class="catalog-wrap">
    <div class="partials-page">
        <form action="" class="form-filters">
            <div class="menus-part">
                <ul>
                    <li>
                        <a href="">Нігтьова естетика <div class="pluser"></div>   </a> 
                        <ul>
                            <li>
                                <a href="#">Бафи</a>
                            </li>
                            <li>
                                <a href="#">Пилочки</a>
                            </li>
                            <li>
                                <a href="#">Кісточки для художнього розпису</a>
                            </li>
                            <li>
                                <a href="#">Кісточки для гелю</a>
                            </li>
                            <li>
                                <a href="#">Кісточки для акрилу</a>
                            </li>
                            <li>
                                <a href="#">Мисочки</a>
                            </li>
                            <li>
                                <a href="#">Дотс</a>
                            </li>
                            <li>
                                <a href="#">Форми для нарощення</a>
                            </li>
                            <li>
                                <a href="#">Гель лак для нігтів </a>
                            </li>
                            <li>
                                <a href="#">Обезжирювачі</a>
                            </li>
                            <li>
                                <a href="#">Олійки для догляду</a>
                            </li>
                            <li>
                                <a href="#">Рідина для зняття гель лаку</a>
                            </li>
                            <li>
                                <a href="#">Гель-комплекс для нарощення нігтів</a>
                            </li>
                            <li>
                                <a href="#">Акрил-комплекс для нарощення нігтів</a>
                            </li>
                            <li>
                                <a href="#">Топ для гель лаку</a>
                            </li>
                            <li>
                                <a href="#">База для гель лаку</a>
                            </li>
                            <li>
                                <a href="#">Укріплення нігтів</a>
                            </li>
                            <li>
                                <a href="#">Магніт для гель лаку</a>
                            </li>
                            <li>
                                <a href="#">Крем для рук</a>
                            </li>
                            <li>
                                <a href="#">Крем для ніг</a>
                            </li>
                            <li>
                                <a href="#">Дизайни</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Макіяж <div class="pluser"></div>   </a> 
                        <ul>
                            <li>
                                <a href="#">Бафи</a>
                            </li>
                            <li>
                                <a href="#">Пилочки</a>
                            </li>
                            <li>
                                <a href="#">Кісточки для художнього розпису</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"> Догляд за волоссям  </a>
                    </li>
                    <li>
                        <a href="#"> Перукарське обладнання  </a>
                    </li>
                    <li>
                        <a href="#"> Догляд за обличчям </a>
                    </li>
                    <li>
                        <a href="#"> Догляд за тілом </a>
                    </li>
                    <li>
                        <a href="#"> Аксесуари </a>
                    </li>
                </ul>
            </div>
            <div class="specials">
                <div class="group">
                    <div class="transformed">
                        <span>Ціна</span>
                    </div>
                    <div id="roller"></div>
                    <div class="inputers">
                        <div class="inputer">
                            <div class="text">від </div>
                            <input type="text" id="price-from" name="price-start" data-edge='10' value="100">
                        </div>
                        <div class="inputer">
                            <div class="text">до</div>
                            <input type="text" id="price-to" name="price-end" data-edge='2000' value="1000">
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="transformed">
                        <span>призначення</span>
                    </div>
                    <div class="checkers">
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group1" value="1" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Аксессуари </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group1" value="2" checked="checked">
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Антивікове </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group1" value="3" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Антибактеріальне </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group1" value="4" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Ароматизація </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group1" value="5" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Відновлення </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group1" value="6" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Від зморшок </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="transformed">
                        <span>Час призначення</span>
                    </div>
                    <div class="checkers">
                        <div class="row">
                            <label>
                                <input type="radio" name="group2" value="1" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Дневний </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="radio" name="group2" value="2" checked="checked">
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Нічний </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="radio" name="group2" value="3" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Універсальний </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="transformed">
                        <span> Класифікація </span>
                    </div>
                    <div class="checkers">
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group3" value="1" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Аксессуари </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group3" value="2" checked="checked">
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Антивікове </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group3" value="3" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Антибактеріальне </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group3" value="4" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Ароматизація </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group3" value="5" >
                                <span class="beautify"><span></span></span>                                
                                <span class="texter"> Відновлення </span>
                            </label>
                        </div>
                        <div class="row">
                            <label>
                                <input type="checkbox" name="group3" value="6" >
                                <span class="beautify"><span></span></span>
                                <span class="texter"> Від зморшок </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="content-part-page">
            <div class="head-part">
                <div class="title-part">
                    <h1>Інтернет-магазин</h1>
                </div>
                <div class="breadcrums">
                    <ul>
                        <li><a href="/">Головна</a></li>
                        <li><span> Інтернет-магазин </span></li>
                    </ul>
                </div>
                <div class="after-text">
                    <p>Правильно піклуватися про своє здоров’я і бути завжди в курсі новітніх трендів в світі косметології, перукарського мистецтва, пізнати всі тонкощі створення мейкапу, манікюру та мистецтва масажу</p>
                </div>
            </div>
            <div class="sorter-row">
                <div class="sel">
                    <div class="texter">Сортовання по ціні</div>
                    <div class="select-part">
                        <select name="price" id="">
                            <option value="1">Від дешевих до дорогих 1</option>
                            <option value="2">Від дешевих до дорогих 2</option>
                            <option value="3">Від дешевих до дорогих 3</option>
                        </select>
                    </div>
                </div>
                <div class="sel">
                    <div class="texter">Показано товарів</div>
                    <div class="select-part">
                        <select name="count" id="">
                            <option value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="catalog-items-part">
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>В корзину</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="after-all-row">
                <div class="page-navi">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><span class="current"> 2 </span></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><span> ... </span></li>
                        <li><a href="">56</a></li>
                    </ul>
                </div>
                <div class="sel">
                    <div class="texter">Показано товарів</div>
                    <div class="select-part">
                        <select name="count" id="">
                            <option value="1">10</option>
                            <option value="2">20</option>
                            <option value="3">30</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>