<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpitGF1cl79hYoTxxOi6WfBVvIrsMr6Jo"></script>
<script>
    var place = {lat: 49.979812 , lng: 36.261314};
    var pointer = 'images/pointer.png';
</script>

<div class="contact-block-wrap first-inside">
    <div class="top-row">
        <div class="conteiner">
            <div class="siders">
                <div class="infopart">
                    <div class="first-block">
                        <div class="text-part">
                            <h1>Завітайте <br /> до нас</h1>
                            <div class="breadcrums">
                                <ul>
                                    <li><a href="/">Головна</a></li>
                                    <li><span>Контакти</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="under-texter">
                            <div class="transformed"> <span> ми творимо красу! </span> </div>
                            <div class="texter">
                                <p> Ми будемо раді проконсольтувати вас по вашому питанню. Пригостимо запашною кавою і печеньками. </p>
                                <div class="place">м.Львів вул. Городоцька, 42</div>
                                <ul class="list-tell">
                                    <li>
                                        <a href="tel:+380322332444"> (032) 233-24-44 </a>
                                    </li>
                                    <li>
                                        <a href="tel:+380963484535"> (096) 348-45-35 </a>
                                    </li>
                                    <li>
                                        <a href="tel:+380633225123">(063) 322-51-23</a>
                                    </li>
                                </ul>
                                <div class="after-mail">
                                    <a href="mailto:dias-studio@gmail.com"> dias-studio@gmail.com </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="imagepart">
                    <div class="con">
                        <div id="map"></div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>