<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpitGF1cl79hYoTxxOi6WfBVvIrsMr6Jo"></script>
<script>
    var place = {lat: 49.979812 , lng: 36.261314};
    var pointer = 'images/pointer.png';
</script>

<div class="contact-block-wrap">
    <div class="top-row">
        <div class="conteiner">
            <div class="siders">
                <div class="infopart">
                    <div class="text-part">
                        <div class="transformed">
                            <span>Контакти</span>
                        </div>
                        <div class="texter">
                            <h2>Завітайте до нас</h2>
                            <p>Ми будемо раді проконсольтувати вас по вашому питанню. Пригостимо запашною кавою і печеньками.</p>
                            <div class="place">м.Львів вул. Городоцька, 42</div>
                            <ul class="list-tell">
                                <li>
                                    <a href="tel:+380322332444"> (032) 233-24-44 </a>
                                </li>
                                <li>
                                    <a href="tel:+380963484535"> (096) 348-45-35 </a>
                                </li>
                                <li>
                                    <a href="tel:+380633225123">(063) 322-51-23</a>
                                </li>
                            </ul>
                            <div class="after-mail">
                                <a href="mailto:dias-studio@gmail.com"> dias-studio@gmail.com </a>
                            </div>
                        </div>
                    </div>
                    <img src="images/leaf-footer-image.png" alt="" class="image-bottom">
                </div>
                <div class="imagepart">
                    <div class="con">
                        <div id="map"></div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

    <div class="bottom-row">
        <div class="row-follow">
            <div class="cubi cub1 empty"></div>
            <a href="insta" target="_blank" class="cubi cub1 instagram">
                <div class="con">
                    <i class="fab fa-instagram"></i>
                </div>
            </a>
            <div class="cubi cub1 empty"></div>
            <a href="fb-studio" target="_blank"  class="cubi cub1 facebook">
                <div class="con">
                    <i class="fab fa-facebook-f"></i>
                    <div class="text"> Студія </div>
                </div>
            </a>
            <div class="cubi cub2  empty">
                <div class="texter">
                    <h3>Приєднуйтесь до наших соц мереж </h3>
                    <p>Ми активно викладуємо нові пости у наші соц. мережі. приєднюйся щоб бути в курсі усіх новин!</p>
                </div>
            </div>
            <a href="#" target="_blank"  class="cubi cub1 youtube">
                <div class="con">
                    <i class="fab fa-youtube"></i>
                </div>
            </a>
            
            <div class="cubi cub1  empty"></div>

            <a href="#" target="_blank" class="cubi cub1 google-plus">
                <div class="con">
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </a>
            <div class="cubi cub1 empty"></div>
            <a href="fb-school" target="_blank" class="cubi cub1 facebook">
                <div class="con">
                    <i class="fab fa-facebook-f"></i>
                    <div class="text"> Школа </div>
                </div>
            </a>
            <div class="cubi cub2 empty framelist-cubi">
                <div class="list-frame">
                    <div class="frame" data-frame='fb-studio'>
                        <div class="fb-page" 
                        data-href="https://www.facebook.com/rotatapizzaif/"
                        data-hide-cover="false"
                        data-show-facepile="false"></div>
                    </div>
                    <div class="frame" data-frame='fb-school'>
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
                    </div>   
                    <div class="frame" data-frame='insta'>
                        <!-- InstaWidget -->
                        <a href="https://instawidget.net/v/user/rubik.design" id="link-42e82b3ec9cc774b4e6cbb79c3fb7d95cf6de7f813905da53f9e2a3c302412c8">@rubik.design</a>
                        <script src="https://instawidget.net/js/instawidget.js?u=42e82b3ec9cc774b4e6cbb79c3fb7d95cf6de7f813905da53f9e2a3c302412c8&width=300px"></script>
                    </div>                             
                </div>
            </div>
            <div class="cubi cub1"></div>
            <div class="cubi cub1 empty"></div>
            <div class="cubi cub1"></div>

        </div>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v3.0&appId=189052281887449&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="footer-part">
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="#"> Головна </a>
                </li>
                <li>
                    <a href="#"> Школа </a>
                </li>
                <li>
                    <a href="#"> Косметологія </a>
                </li>
                <li>
                    <a href="#"> Послуги </a>
                </li>
                <li>
                    <a href="#"> Вакасії </a>
                </li>
                <li>
                    <a href="#"> Новини </a>
                </li>
                <li>
                    <a href="#"> Контакти </a>
                </li>
            </ul>
        </div>
        <div class="socials">
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-vk"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fab fa-skype"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copir">
            <p>© 2010-2019 DIAS STUDIO </p>
        </div>
        <div class="after-text">
            <p>Розробка сайтів та просування в Інтернет - <a href="http://thedigitalesthetics.com/" target="_blank"> TheDigitalEsthetics </a> </p>
            <p style="vertical-align: middle;" > Розробка -  <a href="http://anvi.agency/" target="_blank" style="display: inline-block; vertical-align: middle;"> <img src="images/animation-2.gif" alt=""> </a> </p>
        </div>
    </div>            
</div>