<div class="contact-form-wrap">
    <div class="conteiner">
        <div class="texrter">
            <h2>У вас є питання? Ми готові відповісти на них! <br /> Скористуйтесь формою!</h2>
        </div>
        <form action="" class="former">
            <div class="rower">
                <div class="labled">Ваше імя</div>
                <div class="inputer">
                    <input type="text" name="name" required="required" placeholder="Роберта - the best" >
                </div>
            </div>
            <div class="rower">
                <div class="labled">Номер телефону</div>
                <div class="inputer">
                    <input type="tel" name="tel" class="tel-mask" required="required" placeholder="+38 (___) ___ - __ - __" >
                </div>
            </div>
            <div class="rower">
                <div class="labled"> Адрес ел. пошти</div>
                <div class="inputer">
                    <input type="email" name="email" required="required">
                </div>
            </div>
            <div class="submiter">
                <button type="submit" class="butt">
                    <span> Відправити </span>
                </button>
            </div>
        </form>
    </div>
</div>