<div class="first-inside">
    <div class="conteiner">
        <div class="siders">
            <div class="infopart">
                <div class="first-block">
                    <div class="text-part">
                        <h1>  Корекція фігури </h1>
                        <div class="breadcrums">
                            <ul>
                                <li><a href="/">Головна</a></li>
                                <li><span> Коррекція фігури </span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="under-texter">
                        <div class="transformed"> <span> ми творимо красу! </span> </div>
                        <div class="texter">
                            <p>Перукар-стиліст – це майстер широкого профілю, який може не тільки виконати стрижку, укладку і колорування волосся, але і підкреслити за допомогою стрижки найкращі риси й “родзинки” вашої зовнішності. </p>
                        </div>
                        <div class="button-row">
                            <a data-fancybox="" data-src="#call-popup" href="javascript:;" class="butt">
                                <span>Записатись</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagepart">
                <div class="con">
                    <img src="images/correction-first.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="socials-on-first">
        <ul>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
        </ul>
    </div>
</div>