<div class="conteiner first-wrap">
    <div class="siders">
        <div class="infopart">
            <img src="images/beauty-bg.png" alt="" class="bg-image">
            <div class="slider-generator">
                <div class="convert-item">
                    <div class="text-part">
                        <h1>1111 Ми знаємо, як підкреслити твої найкращі риси</h1>
                    </div>
                    <div class="under-texter">   
                        <div class="transformed"> <span> ми творимо красу! </span> </div>                     
                        <div class="texter">                            
                            <p>Косметичні процедури, макіяж, манікюр, педікюр, масаж, перукарські послуги - все це і багато іншого пропонує наша студія краси. </p>
                        </div>
                        <div class="button-row">
                            <a data-fancybox data-src="#call-popup" href="javascript:;" class="butt">
                                <span>Записатись</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="convert-item">
                    <div class="text-part">
                        <h1>2222 Ми знаємо, як підкреслити твої найкращі риси</h1>
                    </div>
                    <div class="under-texter">
                        <div class="transformed"> <span> ми творимо красу! </span> </div>   
                        <div class="texter">
                            <p>Косметичні процедури, макіяж, манікюр, педікюр, масаж, перукарські послуги - все це і багато іншого пропонує наша студія краси. </p>
                        </div>
                        <div class="button-row">
                            <a data-fancybox data-src="#call-popup" href="javascript:;" class="butt">
                                <span>Записатись</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="convert-item">
                    <div class="text-part">
                        <h1>333 Ми знаємо, як підкреслити твої найкращі риси</h1>
                    </div>
                    <div class="under-texter">
                        <div class="transformed"> <span> ми творимо красу! </span> </div>   
                        <div class="texter">
                            <p>Косметичні процедури, макіяж, манікюр, педікюр, масаж, перукарські послуги - все це і багато іншого пропонує наша студія краси. </p>
                        </div>
                        <div class="button-row">
                            <a data-fancybox data-src="#call-popup" href="javascript:;" class="butt">
                                <span>Записатись</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="convert-item">
                    <div class="text-part">
                        <h1>444 Ми знаємо, як підкреслити твої найкращі риси</h1>
                    </div>
                    <div class="under-texter">
                        <div class="transformed"> <span> ми творимо красу! </span> </div>   
                        <div class="texter">
                            <p>Косметичні процедури, макіяж, манікюр, педікюр, масаж, перукарські послуги - все це і багато іншого пропонує наша студія краси. </p>
                        </div>
                        <div class="button-row">
                            <a data-fancybox data-src="#call-popup" href="javascript:;" class="butt">
                                <span>Записатись</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <div class="imagepart">
            <div class="carousel" id="carousel">
                <div class="carousel-cell">
                    <div class="imager" style="background-image: url(images/slider1.jpg);"></div>
                </div>
                <div class="carousel-cell">
                    <div class="imager" style="background-image: url(images/slider2.jpg);"></div>
                </div>
                <div class="carousel-cell">
                    <div class="imager" style="background-image: url(images/slider1.jpg);"></div>
                </div>
                <div class="carousel-cell">
                    <div class="imager" style="background-image: url(images/slider2.jpg);"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="socials">
        <ul>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
        </ul>
    </div>
</div>