<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebArtG</title>
    <link rel="shortcut icon" href="images/favico.png" type="image/png">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- build:css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/znormalize.css">    
    <link rel="stylesheet" href="css/select2.min.css"> 
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/jquery.fullpage.css">
    <link rel="stylesheet" href="css/flickity.css">
    <link rel="stylesheet" href="css/nouislider.css">
    <link rel="stylesheet" href="css/easy-autocomplete.css">
    <link rel="stylesheet" href="css/easy-autocomplete.themes.css">
    <link rel="stylesheet" href="css/datedropper.css">

    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    
    <!-- add new file here -->

    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/main_styles.css">
    <link rel="stylesheet" href="css/main_adapt.css">
    <link rel="stylesheet" href="css/Xcustom.css">
    <link rel="stylesheet" href="css/Xcustom_adapt.css">
    <!-- endbuild -->

    <!--[if lt IE 10]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
