<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup" class="universal-pop">
        <form action="ajax.php" class="contact-form">
            <div class="con">
                <img src="images/pop-bg.png" alt="">
            </div>
            <div class="title-part">
                <h5>Онлайн запис</h5>
                <p>Заповніть дані, і наш менеджер зв’яжеться з Вами на протязі дня.</p>
            </div>
            <div class="top-part">
                <div class="named">Виберіть категорії послуги</div>
                <div class="inputer">
                    <select name="sel1">
                        <option value="1">Послуги салону красоти 1</option>
                        <option value="2">Послуги салону красоти 2</option>
                        <option value="3">Послуги салону красоти 3</option>
                        <option value="4">Послуги салону красоти 4</option>
                    </select>
                </div>
                <div class="inputer">
                    <select name="sel2">
                        <option value="1">Апарат Power Shape 1</option>
                        <option value="2">Апарат Power Shape 2</option>
                        <option value="3">Апарат Power Shape 3</option>
                        <option value="4">Апарат Power Shape 4</option>
                    </select>
                </div>
            </div>
            <div class="top-part">
                <div class="named">Ваші дані</div>
                <div class="inputer">
                    <input type="text" name="name" placeholder="Ім’я" required="required">
                </div>
                <div class="inputer">
                    <input type="tel" name="tel" class="tel-mask" placeholder="+38 ( ___ ) ___ - __ - __" required="required">
                </div>
                <div class="inputer">
                    <input type="date" name="date" data-modal="true" data-large-mode="true" data-lang="uk" placeholder="04.06.2018" required="required">
                </div>
            </div>
            <div class="submiter">
                <button type="submit" class="butt">
                    <span>Записатись</span>
                </button>
            </div>
        </form>
    </div>

</div>