<div class="main-catalog-wrap">
    <div class="conteiner full-size">
        <div class="title-part">
            <h2>Інтернет-магазин “DIAS”</h2>
            <p>Власний бренд ексклюзивних професійних засобів, <br /> інструменту та косметики.</p>
        </div>
        <div class="catalog-part">
            <div class="list-items">
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="item">
                    <div class="contein">
                        <a href="#" class="con">
                            <img src="images/single-towar.png" alt="">
                        </a>
                        <div class="text-part">
                            <div class="type">
                                <a href="#">Лечебная косметика</a>
                            </div>
                            <div class="name">
                                <a href="#"> Маскирующий и лечебный консилер  </a>
                            </div>
                            <div class="price">  434 грн  </div>
                            <div class="after-butt">
                                <a href="#" class="butt3">
                                    <span>Замовити</span>
                                </a>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="more">
            <a href="#" class="butt4">
                <span> Дивитись продукцію </span>
            </a>
        </div>
    </div>
</div>