<div class="main-fourth-wrap">
    <div class="contein">
        <div class="navigate">
            <div class="convert">
                <ul>
                    <li>
                        <a href="#" class="active"> Школа </a>
                    </li>
                    <li>
                        <a href="#"> Семінари </a>
                    </li>
                    <li>
                        <a href="#"> Салон під ключ </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-part">
            <ul>
                <li class="active">
                    <div class="item" style="background-image: url(images/bg-video.jpg);">
                        <div class="text-part">
                            <div class="texter">
                                <h2> Школа краси </h2>
                                <h3><i>Єдина у Львові ліцензована школа</i></h3>
                                <br />
                                <p>«Dias» – це ліцензована школа краси у Львові, за результатом навчання в якій ви стаєте власником диплому ліцензованого диплому на двох мовах – англійській та українській, що є гарантом гідного працевлаштування і в Україні, і за кордоном.</p>
                                <br />
                                <ul>
                                    <li>Курси перукарів-стилістів</li>
                                    <li>Курси візажистів</li>
                                    <li>Курси масажистів</li>
                                    <li>Курси нігтьової естетики</li>
                                </ul>
                            </div>
                            <div class="after-button">
                                <a data-fancybox="" data-src="#call-popup" href="javascript:;" class="butt">
                                    <span>Записатись на пробне заняття</span>
                                </a>
                            </div>
                        </div>
                        <div class="video-button">
                            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="circle-butt">
                                <div class="insider">
                                    <div class="triangle">
                                        <svg width="19" height="21" viewBox="0 0 19 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M -1.14039e-07 19.9217C -1.14039e-07 20.8822 0.700222 21.2753 1.55682 20.7951L 18.3576 11.3723C 19.2141 10.892 19.2141 10.1058 18.3576 9.62663L 1.55682 0.204923C 0.700222 -0.27532 -1.14039e-07 0.11781 -1.14039e-07 1.0783L -1.14039e-07 19.9217Z" fill="#E71938"/>
                                        </svg>                                                
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item" style="background-image: url(images/bg-video.jpg);">
                        <div class="text-part">
                            <div class="texter">
                                <h2> Школа краси </h2>
                                <h3><i>Єдина у Львові ліцензована школа</i></h3>
                                <br />
                                <p>«Dias» – це ліцензована школа краси у Львові, за результатом навчання в якій ви стаєте власником диплому ліцензованого диплому на двох мовах – англійській та українській, що є гарантом гідного працевлаштування і в Україні, і за кордоном.</p>
                                <br />
                                <ul>
                                    <li>Курси перукарів-стилістів</li>
                                    <li>Курси візажистів</li>
                                    <li>Курси масажистів</li>
                                    <li>Курси нігтьової естетики</li>
                                </ul>
                            </div>
                            <div class="after-button">
                                <a data-fancybox="" data-src="#call-popup" href="javascript:;" class="butt">
                                    <span>Записатись на пробне заняття</span>
                                </a>
                            </div>
                        </div>
                        <div class="video-button">
                            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="circle-butt">
                                <div class="insider">
                                    <div class="triangle">
                                        <svg width="19" height="21" viewBox="0 0 19 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M -1.14039e-07 19.9217C -1.14039e-07 20.8822 0.700222 21.2753 1.55682 20.7951L 18.3576 11.3723C 19.2141 10.892 19.2141 10.1058 18.3576 9.62663L 1.55682 0.204923C 0.700222 -0.27532 -1.14039e-07 0.11781 -1.14039e-07 1.0783L -1.14039e-07 19.9217Z" fill="#E71938"/>
                                        </svg>                                                
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item" style="background-image: url(images/bg-video.jpg);">
                        <div class="text-part">
                            <div class="texter">
                                <h2> Школа краси </h2>
                                <h3><i>Єдина у Львові ліцензована школа</i></h3>
                                <br />
                                <p>«Dias» – це ліцензована школа краси у Львові, за результатом навчання в якій ви стаєте власником диплому ліцензованого диплому на двох мовах – англійській та українській, що є гарантом гідного працевлаштування і в Україні, і за кордоном.</p>
                                <br />
                                <ul>
                                    <li>Курси перукарів-стилістів</li>
                                    <li>Курси візажистів</li>
                                    <li>Курси масажистів</li>
                                    <li>Курси нігтьової естетики</li>
                                </ul>
                            </div>
                            <div class="after-button">
                                <a data-fancybox="" data-src="#call-popup" href="javascript:;" class="butt">
                                    <span>Записатись на пробне заняття</span>
                                </a>
                            </div>
                        </div>
                        <div class="video-button">
                            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="circle-butt">
                                <div class="insider">
                                    <div class="triangle">
                                        <svg width="19" height="21" viewBox="0 0 19 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path d="M -1.14039e-07 19.9217C -1.14039e-07 20.8822 0.700222 21.2753 1.55682 20.7951L 18.3576 11.3723C 19.2141 10.892 19.2141 10.1058 18.3576 9.62663L 1.55682 0.204923C 0.700222 -0.27532 -1.14039e-07 0.11781 -1.14039e-07 1.0783L -1.14039e-07 19.9217Z" fill="#E71938"/>
                                        </svg>                                                
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>