<div class="main-third-wrap">
    <div class="conteiner">
        <div class="siders">  
            <div class="infopart">
                <img src="images/third-left-bg.png" alt="" class="imager">
                <div class="simple-texter">
                    <div class="texter">
                        <h2> Чому апарат Power Shape – найкращій засіб для омолодження на схуднення? </h2>
                        <p>Power Shape – це абсолютна новинка в області методів нейрохірургічного усунення жирових відкладень та вирішення проблем, пов’язаних зі зниженням тонусу шкіри</p>
                        <h3>Power Shape усуває наступні проблеми:</h3>
                        <ul>
                            <li> Зморшки на обличчі та зоні декольте, мішки під очима </li>
                            <li> Дряблість шкіри </li>
                            <li> Розтяжки на шкірі </li>
                            <li> Ожиріння </li>
                            <li> Целюліт </li>
                            <li> Локальні жирові відкладення </li>
                            <li> Набрякання </li>
                        </ul>
                    </div>
                    <div class="after-button">
                        <a href="#" class="butt">
                            <span>Послуги та ціни на PowerShape</span>
                        </a>
                    </div>
                </div>
            </div>          
            <div class="imagepart">
                <div class="con">
                    <img src="images/third-img.png" alt="">
                </div>
            </div>            
        </div>
    </div>
</div>