<div class="news-single-wrap">
    <div class="news-conteiner">
        <div class="news-title">
            <h1>Запрошуємо на ефективні альгінальні маски від Casmara</h1>
            <div class="breadcrums">
                <ul>
                    <li><a href="/"> Головна </a></li>
                    <li><a href="/"> Новини </a></li>
                    <li><span>Запрошуємо на ефективні альгінальні маски від Casmara</span></li>
                </ul>
            </div>
        </div>
        <div class="texter">
            <div class="bunnered">
                <img src="images/news-single-big.jpg" alt="">
            </div>
            <h2>Пропонуємо Вам чудові та ефективні альгінатні маски від Casmara. За допомогою такої косметики відбувається наступне:</h2>
            <ul>
                <li>боротьба з першими проявами вікових змін на шкірі обличчя та тіла;</li>
                <li>вирішуються різні естетичні проблеми зрілої шкіри;</li>
                <li>покращується місцевий кровообіг, допомагає вирішити проблему целюліту;</li>
                <li>тонізує;</li>
                <li>живить та зволожує шкіру</li>
            </ul>
            <p>Современные косметологические новинки позволяют получить максимум от используемых средств, в том числе, благодаря бустерам. Термин «бустер» означает усиление действия других средств, а также повышенную концентрацию активных компонентов. </p>
            <p>Восхитительный ежедневный гель-бустер Vichy Mineral 89 Fortifying And Plumping Daily Booster активно противостоит влиянию экспозома и укрепляет защитные функции кожи. Его состав на 89% состоит из термальной воды Vichy с добавлением гиалуроновой кислоты и высокой степенью минерализации. </p>
            <div class="bunnered">
                <img src="images/news-single-small1.jpg" alt="">
                <img src="images/news-single-small2.jpg" alt="">
            </div>
            <p>Кроме защиты он обеспечивает глубокое увлажнение в течении 24 часов и повышает упругость кожи. Наилучшим образом бустер действует после очищения и тонизации кожи и перед нанесением основного средства по уходу. Состав не содержит парабенов, силикона, красителе, ароматизаторов и спирта. </p>
            <p>Способ применения: дважды нажав на помпу, нанесите средство на кожу лица после очищения, утром и вечером, как этап №1 в ритуале по уходу за кожей лица.</p>
        </div>
        <div class="cont-part">
            <p>Спробуйте і результат перевершить усі Ваші очікування.</p>
            <p> <a href="#"> body.dias-studio.com </a> </p>
            <p> Наша адреса: вул. Городоцька, 42 (навпроти львівського цирку) </p>
            <p> 
                <a href="tel:(096)-348-45-35" class="tel"> (096)-348-45-35</a> 
                <a href="tel:(096)-348-45-35" class="tel"> (063)-322-51-23</a> 
            </p>
        </div>

        <div class="share-row">
            <script type="text/javascript">(function() {
                if (window.pluso)if (typeof window.pluso.start == "function") return;
                if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                }})();</script>
                <div class="pluso" data-background="none;" data-options="medium,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="facebook,twitter,vkontakte,pinterest,google"></div>
        </div>

        <div class="disqus">
            <p>tyt plugin disqus </p>
        </div>

    </div>
</div>