<div class="school-perevagi-wrap">
    <div class="content">
        <div class="title-part">
            <h2>Наші переваги</h2>
            <p>Ми гарантуємо якість навчання, підтверджену тисячами наших учнів та ліцензованими дипломами.</p>
        </div>
        <div class="list-items">
            <div class="item">
                <div class="con">
                    <img src="images/per1.png" alt="">
                </div>
                <div class="texter">
                    <div class="name">Практика</div>
                    <div class="sub">Найбільша у Львові база постійних клієнтів, які готові стати моделями для наших практикантів, робить Ваше навчання простим і цікавим.</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/per2.png" alt="">
                </div>
                <div class="texter">
                    <div class="name">Працевлаштування</div>
                    <div class="sub">Ми пропонуємо велику мережу салонів, перукарень та кабінетів, де Ви за бажанням продовжите свій професійний шлях та кар’єру.</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/per3.png" alt="">
                </div>
                <div class="texter">
                    <div class="name">Індивідуальний підхід</div>
                    <div class="sub">Заняття проводяться індивідуально з учнем</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/per4.png" alt="">
                </div>
                <div class="texter">
                    <div class="name">Консультація</div>
                    <div class="sub">Постійний супровід та консультування учнів після навчання!</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/per5.png" alt="">
                </div>
                <div class="texter">
                    <div class="name"> Ліцензований диплом </div>
                    <div class="sub">Диплом Міністерства освіти України <br />  Ліцензція № 614755</div>
                </div>
            </div>
            <div class="item">
                <div class="con">
                    <img src="images/per6.png" alt="">
                </div>
                <div class="texter">
                    <div class="name">Семінари і тренінги</div>
                    <div class="sub">Для усіх наших учнів безкоштовні цікаві семінари та тренінги</div>
                </div>
            </div>
        </div>
    </div>
</div>