<div class="school-gallary-block">
    <a href="images/about-first.jpg" data-fancybox="images" class="con">
        <img src="images/about-first.jpg" alt="">
    </a>
    <a href="images/about-first.jpg" data-fancybox="images" class="con">
        <img src="images/about-first.jpg" alt="">
    </a>
    <a href="images/about-first.jpg" data-fancybox="images" class="con">
        <img src="images/about-first.jpg" alt="">
    </a>
    <a href="images/about-first.jpg" data-fancybox="images" class="con">
        <img src="images/about-first.jpg" alt="">
    </a>
    <a href="images/about-first.jpg" data-fancybox="images" class="con">
        <img src="images/about-first.jpg" alt="">
    </a>
    <a href="images/about-first.jpg" data-fancybox="images" class="con">
        <img src="images/about-first.jpg" alt="">
    </a>
</div>