<div class="school-rew-wrap">
    <div class="mbox">
        <div class="title">
            <h2>Більш ніж 1123 задоволених учнів </h2>
        </div>
        <div class="conteiner-slider">
            <img src="images/school-rew-covered-leaf1.png" alt="" class="covered1">
            <img src="images/school-rew-covered-leaf2.png" alt="" class="covered2">
            <img src="images/school-rew-covered-leaf3.png" alt="" class="covered3">
            <div class="list-items">
                <div class="item">
                    <div class="texter">
                        <blockquote>Дякую Ірині Дільній, що поділилась своїм досвідом і професійними секретами, під час мого навчання на курсах перукарської майстерності у школі “Dias”. Багато професійних нюансів, якими поділилися викладачі-майстри Вашої школи, використовую під час роботи в салоні краси. </blockquote>
                    </div>
                    <div class="after-person">
                        <div class="con">
                            <img src="images/single-user.jpg" alt="">
                        </div>
                        <div class="named">
                            <div class="name">Світлана Отчич</div>
                            <div class="profile">Перукар</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="texter">
                        <blockquote>Дякую Ірині Дільній, що поділилась своїм досвідом і професійними секретами, під час мого навчання на курсах перукарської майстерності у школі “Dias”. Багато професійних нюансів, якими поділилися викладачі-майстри Вашої школи, використовую під час роботи в салоні краси. </blockquote>
                    </div>
                    <div class="after-person">
                        <div class="con">
                            <img src="images/single-user.jpg" alt="">
                        </div>
                        <div class="named">
                            <div class="name">Світлана Отчич</div>
                            <div class="profile">Перукар</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>