<div class="single-page-wrap">
    <div class="towar-row">
        <div class="texter-part">
            <div class="content">
                <h1>Ежедневный гель-бустер усиливающий упругость и увлажнение кожи лица</h1>
                <div class="breadcrums">
                    <ul>
                        <li><a href="/">Головна</a></li>
                        <li><a href="/">Інтернет-магазин</a></li>
                        <li><a href="/">Для лиця</a></li>
                        <li><span>Ежедневный гель-бустер усиливающий упругость и увлажнение кожи лица </span></li>
                    </ul>
                </div>
                <div class="infos">
                    <table>
                        <tr>
                            <td>Возраст</td>
                            <td>18+</td>
                        </tr>
                        <tr>
                            <td>Назначение</td>
                            <td>восстановление, тонизирование, увлажнение, укрепление</td>
                        </tr>
                        <tr>
                            <td>Время применения</td>
                            <td>Универсальное</td>
                        </tr>
                        <tr>
                            <td>Пол</td>
                            <td>Унисекс</td>
                        </tr>
                        <tr>
                            <td>Тип кожи</td>
                            <td>Все типы, чувствительная</td>
                        </tr>
                        <tr>
                            <td>Объем</td>
                            <td>50 ml</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="pricer">
                                    <div class="cena">
                                        <strong>160</strong>
                                        <span>грн.</span>
                                    </div>   
                                    <div class="multiple"></div>
                                    <div class="counter">
                                        <strong>1</strong>
                                        <span>шт.</span>
                                    </div>                                   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="bot-row">
                                    <a href="" class="butt3 add-to-corzine">
                                        <span>В корзину</span>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="bot-row">
                                    <a href="" class="butt"> 
                                        <span>Замовити зараз</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Поділитись в соц мережах</td>
                            <td>
                                <div class="socials">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="photos-part">
            <div class="slider-for">
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-big1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-big1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-big1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-big1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-big1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-big1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="slider-nav">
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-small1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-small1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-small1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-small1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-small1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="con">
                        <img src="images/single-towar-small1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-page-tabs">
    <div class="conteiner-tabs">
        <div class="navigate">
            <ul>
                <li><a href="" class="active">Опис</a></li>
                <li><a href="">комментарі</a></li>
                <li><a href="">Facebook</a></li>
            </ul>
        </div>
        <div class="content">
            <ul>
                <li class="active">
                    <div class="text-part">
                        <div class="texter">
                            <h2>Описание Ежедневный гель-бустер усиливающий упругость и увлажнение кожи лица</h2>
                            <p>Современные косметологические новинки позволяют получить максимум от используемых средств, в том числе, благодаря бустерам. Термин «бустер» означает усиление действия других средств, а также повышенную концентрацию активных компонентов. </p>
                            <p>Восхитительный ежедневный гель-бустер Vichy Mineral 89 Fortifying And Plumping Daily Booster активно противостоит влиянию экспозома и укрепляет защитные функции кожи. Его состав на 89% состоит из термальной воды Vichy с добавлением гиалуроновой кислоты и высокой степенью минерализации. Кроме защиты он обеспечивает глубокое увлажнение в течении 24 часов и повышает упругость кожи. Наилучшим образом бустер действует после очищения и тонизации кожи и перед нанесением основного средства по уходу. Состав не содержит парабенов, силикона, красителе, ароматизаторов и спирта. </p>
                            <p>Способ применения: дважды нажав на помпу, нанесите средство на кожу лица после очищения, утром и вечером, как этап №1 в ритуале по уходу за кожей лица.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="convert-rew">
                        <div class="list-rew">
                            <div class="title-rew">
                                <h2>Комментарі людей які купили вже продукцію</h2>
                            </div>
                            <div class="counter-rew">
                                <div class="rew-item" data-comment-id="123" >
                                    <div class="left">
                                        <div class="name">Діана, Херсон</div>
                                        <div class="date"> 25 апреля 2018 </div>
                                        <div class="stars">
                                            <ul>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li class="active">
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <blockquote>
                                            <p> Мне гель понравился,использую его как и советует производитель перед основным уходом,у меня комбинированная чувствительная кожа,заметила хороший увлажняющий и успокаивающий эффект</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="rew-item" data-comment-id="124" >
                                    <div class="left">
                                        <div class="name">Діана, Херсон</div>
                                        <div class="date"> 25 апреля 2018 </div>
                                        <div class="stars blocked">
                                            <ul>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li class="active">
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <blockquote>
                                            <p> Моей комбинированной обезвоженной коже он не подошел. Схожие ощущения с несколькими другими отзывами - высыпания и шелушения практически сразу после нанесения. Пробовала и отдельно использовать, и в сочетании с увлажняющим кремом (aqualia, slow age того же vichy) - результат одинаковый. Потому думаю, что для сухой и/или обезвоженной кожи он не подходит.  </p>
                                            <p>В итоге отдала гель подруге с комбинировнной/жирной кожей и ей он подошел. Использует без доп кремов</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="send-rew-form">
                            <form action="" class="form-rew">
                                <div class="title-part">
                                    <h2>Оставити комментар</h2>
                                    <p>Используйте данную форму для того, чтобы оставить отзыв о товаре или задать вопрос.</p>
                                    <br />
                                    <p>Все комментарии, не касающиеся продукта, будут удалены!</p>
                                </div>
                                <div class="rower">
                                    <div class="labled">Ваше імя *</div>
                                    <div class="inputer">
                                        <input type="text" name="name" required="required" placeholder="Роберта - the best">
                                    </div>
                                </div>
                                <div class="rower">
                                    <div class="labled">E-mail *</div>
                                    <div class="inputer">
                                        <input type="email" name="email" required="required" placeholder="example@gmail.com">
                                    </div>
                                </div>
                                <div class="rower">
                                    <div class="labled">Текст повідомлення</div>
                                    <div class="inputer">
                                        <textarea name="massage"></textarea>
                                    </div>
                                </div>
                                <div class="submiter">
                                    <button type="submit" class="butt">
                                        <span> Відправити </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="conteiner-fb-rew">
                        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-width="100%"></div>
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = 'https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v3.0&appId=189052281887449&autoLogAppEvents=1';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>