<div class="uslugi-scrolling-tabs">
    <div class="centered">
        <div class="texter">
            <h2>Хочете скористатись нашими послуги? <br /> Записуйтесь через форму</h2>
            <p>З перших хвилин перебування в нашому салоні вас охопить приємна атмосфера, максимум комфорту та догляд наших талановитих майстрів.</p>
        </div>
        <div class="after-butt">
            <a data-fancybox="" data-src="#call-popup" href="javascript:;" class="butt">
                <span>Записатись</span>
            </a>
        </div>
    </div>
</div>