<div class="first-inside">
    <div class="conteiner">
        <div class="siders">
            <div class="infopart">
                <div class="first-block">
                    <div class="text-part">
                        <h1>Послуги салону краси</h1>
                        <div class="breadcrums">
                            <ul>
                                <li><a href="/">Головна</a></li>
                                <li><span>Послуги</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="under-texter">
                        <div class="transformed"> <span> ми творимо красу! </span> </div>
                        <div class="texter">
                            <p>Зберегти природню красу, підкреслити свої найкращі риси, кардинально змінити свій імідж, підготуватись до урочистих подій – з усім цим Вам допоможе справитись студія краси “DIAS” </p>
                        </div>
                        <div class="button-row">
                            <a data-fancybox="" data-src="#call-popup" href="javascript:;" class="butt">
                                <span>Записатись</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imagepart">
                <div class="con">
                    <img src="images/first-inside-bg.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="socials-on-first">
        <ul>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</div>