<div class="uslugi-scrolling-tabs">
    <div class="centered">
        <div class="texter">
            <h2> Для тих, хто хоче завжди виглядати і відчувати себе молодимии і гарними, ми пропонуємо наступний перелік послуг: </h2>
            <p>  З перших хвилин перебування в нашому салоні вас охопить приємна атмосфера, максимум комфорту та догляд наших талановитих майстрів.</p>
        </div>
        <div class="tubber-scroller">
            <ul>
                <li>
                    <a href="#scroll1"> Обличчя </a>
                </li>
                <li>
                    <a href="#scroll2"> Волося </a>
                </li>
                <li>
                    <a href="#scroll3"> Spa-процедури </a>
                </li>
                <li>
                    <a href="#scroll4"> Візаж </a>
                </li>
                <li>
                    <a href="#scroll5"> Манікюр </a>
                </li>
                <li>
                    <a href="#scroll6"> Шугарінг </a>
                </li>
            </ul>
        </div>
    </div>
</div>